<!-- SIDEBAR TO REPLACE -->

<aside id="sidebar">
    <div class="d-flex">
        <button
          class="sidebar-btn-menu"
          type="button">
                <i class="bi bi-list" id="menu-btn-icon"></i>
              </a>
        </button>
        <div class="sidebar-logo">
            <a href="#">Menu</a>
        </div>
    </div>

    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <span>Profile</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <span>Task</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <span>Auth</span>
            </a>
            <ul class="sidebar-link">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Login</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Register</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <span>Multi Level</span>
            </a>
            <ul class="sidebar-link">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        Two Links
                    </a>
                    <ul class="sidebar-link">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Link 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Link 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <span>Notification</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <span>Setting</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <span>Logout</span>
        </a>
    </div>
</aside>
